.navLink {
  font-size: 17px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
.contactTitle {
  color: white;
  font-size: 18px;
  justify-content: center;
  display: flex;
}
.layoutContainer {
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 24px;
  font-family: Playfair Display;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.contentContainer {
  display: flex;
  justify-content: center;
}
.contentContainer form {
  margin-left: 20px;
}
.logo {
  font-family: Playfair Display;
  font-size: 17px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}
.logoContainer svg {
  display: none;
}
.logoContainer {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 40px;
  justify-content: center;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .logoContainer svg {
    display: block;
    fill: white;
  }
  .logo,
  .navLink {
    font-size: 20px;
  }
  .layoutContainer {
    gap: 160px;
  }
  /* .contactTitle {
    font-size: 38px;
  } */
  .contentContainer {
    padding-right: 0px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
