h1,
h2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right-color: #333333;
  border-bottom-color: #333333;
}
label {
  font-size: 20px;
}

.contactsContainer,
.phonebookContainer {
  display: flex;
  width: 85%;
  max-width: 300px;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border: 5px double #b1acac;
  border-radius: 5px;
  padding: 35px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-left: 20px;
}
.userName {
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    width: 45%;
  }
}
