.contactsTitle {
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.hrContacts {
  width: 89%;
}
input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 13px 43px;
  margin: 5px 0;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right-color: #333333;
  border-bottom-color: #333333;
}
label {
  font-size: 20px;
}

.contactsContainer {
  display: flex;
  width: 83%;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 49px;
  margin-left: 22px;
  color: #fff;
}
.phonebookContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-left: 14px;
}
.userName {
  display: flex;
}
.sorryMsg {
  font-size: 18px;
  color: #fff;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .phonebookContainer {
    width: 100%;
    margin: unset;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 38px;
    padding-right: 30px;
    margin-left: 49px;
  }
  .container {
    width: 100%;
  }
  .contactsTitle {
    padding-right: 67px;
  }
  .contactsContainer {
    width: 94%;
  }
}
@media screen and (min-width: 1168px) {
  .contactsTitle {
    /* padding-right: 206px; */
  }
}
@media screen and (min-width: 1280px) {
  .phonebookContainer {
    /* padding-right: 110px; */
    /* padding-right: 52px; */
    gap: 0px;
  }
  .contactsTitle {
    padding-right: 600px;
  }
  .contactsContainer {
    margin-bottom: 108px;
  }
  
}
