.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 264px;
  padding-left: 2px;
}
.title {
  font-size: 40px;
  width: 86%;
}
.titleDescription {
  font-size: 20px;
  font-family: monospace;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
img {
  display: block;
  width: 135px;
  height: auto;
  transition: width 0.5s ease;
}
.imgList {
  position: absolute;
  right: 32px;
  top: 313px;
  display: flex;
  align-items: center;
}

.imgList li {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #555;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 150px;
}

.imgList li:hover {
  top: 0px;
  opacity: 0.5;
}

.imgList li:nth-child(1) {
  transform: rotate(-5deg);
}

.imgList li:nth-child(2) {
  transform: rotate(13deg);
}

.homeParagraph {
  display: flex;
  padding: 47px;
  gap: 50px;
  font-size: 14px;
  color: white;
  flex-wrap: wrap;
}
.storyTitle {
  font-size: 20px;
}
.mainContent {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .homeParagraph {
    font-size: 22px;
    width: 80%;
    padding-top: 200px;
  }
  .storyTitle {
    font-size: 26px;
  }
  img {
    width: 230px;
  }

  .imgList {
    right: 144px;
  }

  .title {
    width: 56%;
    font-size: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .homeParagraph {
    font-size: 24px;
    width: 40%;
    padding-top: 50px;
  }
  img {
    width: 280px;
  }
  .title {
    width: 26%;
  }
  .imgList {
    right: 107px;
    top: 450px;
  }
  .titleContainer {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1480px) {
  .homeParagraph {
    padding-left: 175px;
  }
  .imgList {
    top: 350px;
    right: 60px;
  }
}
