.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 264px;
  padding-left: 35px;
}
.title {
  font-size: 45px;
}
.titleDescription {
  font-size: 20px;
  font-family: monospace;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
img {
  display: block;
  width: 90px;
  height: auto;
  transition: width 0.5s ease;
}
.imgList {
  position: absolute;
  right: 11px;
  top: 313px;
  display: flex;
  align-items: center;
}

.imgList li {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 5px #fff;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px 0px #555;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 150px;
}

.imgList li:hover {
  top: 0px;
  opacity: 0.5;
}

.imgList li:nth-child(1) {
  transform: rotate(10deg);
}

.imgList li:nth-child(2) {
  transform: rotate(-3deg);
}
.imgList li:nth-child(3) {
  transform: rotate(9deg);
}

.homeParagraph {
  /* display: flex; */
  padding: 10px;
  color: white;
  margin-top: 20px;
  font-size: 18px;
}
.mainContent {
  display: flex;
}
@media screen and (min-width: 768px) {
  img {
    width: 242px;
  }
  .imgList {
    right: 410px;
    margin-bottom: 69px;
  }
  .title {
    width: 56%;
  }

  .homeParagraph {
    margin-top: 217px;
    font-size: 25px;
    width: 56%;
    padding-left: 55px;
  }
}
@media screen and (min-width: 800px) {
  img {
    width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  img {
    width: 250px;
  }
  .title {
    width: 26%;
  }
  .homeParagraph {
    margin-top: 190px;
    font-size: 29px;
    width: 56%;
    padding-left: 700px;
  }
}
