.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
}
.inputs {
  width: 81%;
}
.addContactBtn {
  width: 127px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px rgb(211, 214, 211);
  cursor: pointer;
  background-color: rgb(243, 234, 234);
  border-color: #faf7f7;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  border-radius: 3px;
}
.addContactBtn:hover {
  background-color: #48beac;
  color: white;
  border: none;
}
